<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <title>Página de inicio</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Registro</a></li>
            <li class="item-r"><a href="#">Login</a></li>
        </ul>
    </div>

    <div class="container-body">
        <div class="column1">
            <p>
                <img src="log_proyectomintic.png">
            </p>
            <div id="menu2">
                <ul>
                    <li class="item-c"><a href="#">INGREDIENTES</a></li>
                    <li class="item-d"><a href="#">ARMA TU PIZZA</a></li>
                </ul>
            </div>
        </div>
        <div class="column2">
            <p>
                <img src="pizza-3010062_1280.jpg" width="1000" height="400">
            </p>
        </div>

    </div>
    <div class="container-card">
        <div class="card">
            <img src="pizza 2.jpg">
            <h4>Pizzas a tu gusto</h4>
            <p>Puedes armar las pizzas con los ingredientes que tu deseses</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="pizza3.jpg">
            <h4>Pizzas deliciosas</h4>
            <p>Las mejores pizzas las encuentras aquí <br><br><br></p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="pizzas.jpg">
            <h4>Pizzas de diferentes tamaños</h4>
            <p>Puedes elegir la pizza en el tamaño que desees</p>
            <a href="#">Leer más</a>
        </div>
    </div>
    <footer>

        <div class="container__footer">

            <div class="box__footer">
                <h2>La pizza mía</h2>
                <a href="#">Términos y condiciones</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Encuesta de Satisfacción</a>
                <a href="#">Servicios</a>
                <a href="#">Quejas, reclamos y sugerencias</a>
            </div>
            <div class="box__footer">

                <div class="terms">

                    <p>Su opinión es muy importante para nosotros <br>El acceso y utilización del Sitio Web se regirá e interpretará de conformidad con la legislación colombiana. Cualquier controversia que pudiera surgir entre Pizza Mia y los usuarios del
                        Sitio Web, será dirimida, con renuncia expresa de las Partes a su propio fuero, por los Juzgados y Tribunales de la ciudad de Bogotá.</p>
                </div>
                <div class="logo">
                    <img src="log_proyectomintic.png" alt="">
                </div>
            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <img src="icon_facebook.jpg"> Facebook</a><label> <a href="">siguenos en facebook</a> </label>
                <a href="#"><img src="icon_correo.jpg"> Email</a><label> <a href="">email@gmail.com</a></label>
                <a href="#"><img src="icon_whatsapp.jpg"> Whatsapp</a><label> 3123552888</label>
                <a href="#"><img src="icon_ubicacion.jpg"> Direccion</a><label>Carrera 68B 22B 71 Bogotá</label>
            </div>

        </div>
    </footer>

</body>


</html>